{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2> Editer un bien </h2>
        {{  include('admin/property/_form.html.twig',{form : form , button : 'Editer'}) }}
    </div>

{% endblock %}

{% block stylessheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}
{% block javascripts %}

{% endblock %}