{% extends 'base.html.twig' %}
    {% block body %}
        <div class="jumbotron text-center">
            <h1> Agence Immobiliere YEAH </h1>
            <p> Agence immobiliere bien et serv</p>
        </div>
    {% endblock %}
