{{ form_start(form) }}
{{ form_rest(form) }}
<button class="btn btn-primary"> {{ button|default('Enregister') }}</button>
{{ form_end(form) }}
{% block stylessheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script >
        $('select').select2();
    </script>
{% endblock %}